<h1>Welcome to AstroRails</h1>
<div class="block">

<% if flash[:notice] %>
    <h3 class="notification is-danger"><%= flash[:notice] %></h3>
<% end %>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <div class="field">
        <%= label_tag 'username', nil, class: "label" %>
        <%= text_field_tag :username, nil, class: "input is-success" %>
    </div>
    <div class="field">
        <%= label_tag 'password', nil, class: "label" %>
        <%= password_field_tag :password, nil, class: "input is-success" %>
    </div>

    <%= submit_tag "Login", class: "button is-success" %>
<% end %>
</div>
<div class="block">
<%= link_to "Hello New Astronomer click ME to Create Account", new_user_path, class: "button is-primary" %>
<%= link_to "Login via Github", "/auth/github", class: "button is-primary" %>
<div>