<h1>Show Page</h1>


<%= @observation.name %>
<h1>Systems</h1>
<% @observation.systems.each do |system| %>
<%= link_to system.name, observation_system_path(@observation, system) %>
<br>
<% end %>
<br>
<%= link_to "Add System", new_observation_system_path(@observation) %>

<h1>Planets</h1>
<% @observation.planets.each do |planet| %>
<%= link_to planet.name, observation_planet_path(@observation, planet) %>
<br>
<% end %>
<br>
<%= link_to "Add Planet", new_observation_planet_path(@observation) %>

<h1>Galaxies</h1>
<% @observation.galaxies.each do |galaxy| %>
<%= link_to galaxy.name, observation_galaxy_path(@observation, galaxy) %>
<br>
<% end %>
<br>
<%= link_to "Add Galaxy", new_observation_galaxy_path(@observation) %>

<br>
<br>
<%= link_to "Edit Observation", edit_observation_path %>
<%= link_to "Destroy", @observation, method: :delete, data: {confirm: "Sure?"} %>