<h1>Show</h1>
<p>Hello, <%= @user.username %></p>
<br>
<% @user.galaxies.uniq.each do |galaxy| %>
<p>Galaxy: <%= link_to galaxy.name, galaxy %></p>
<% end %>

<br>
<%= link_to "New Galaxy", new_observation_path %> |
<%= link_to "See Your Observations", user_observations_path(@user) %> |
<%= link_to 'Logout', logout_path %> |
<%= link_to 'Life?', life_path %> |

<button onCLick="getGalaxies()">Testing</button>
<button onCLick="getUser()">User Tst</button>
<div id="lol"></div>
<div id="lol2"></div>