<!DOCTYPE html>
<html>
  <head>
    <title>AstroRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= image_tag("logo.png", :alt => "logo of moon") %>
  <h1>AstroRails</h1>
  <nav>
    <%= link_to "Galaxies", galaxies_path, class: "dismyclass"  %>
    <%= link_to "Observations", observations_path %>
  </nav>
          <%= yield %>

  
  </body>
</html>
